In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("nullDataset.csv")
dataset.head(5)

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [3]:
dataset.isnull().sum()

Pregnant               0
Glucose                5
Diastolic_BP          35
Skin_Fold            227
Serum_Insulin        374
BMI                   11
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [29]:
#Method 1: Drop the values [Not suggested]
dataset = dataset.dropna(subset=["Glucose"])
dataset.isnull().sum()

Pregnant               0
Glucose                0
Diastolic_BP          35
Skin_Fold            227
Serum_Insulin        370
BMI                   11
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [30]:
#Method 2: Replacing null values with Mean
Diastolic_BP_mean = dataset["Diastolic_BP"].mean()
dataset["Diastolic_BP"] = dataset["Diastolic_BP"].fillna(Diastolic_BP_mean)
dataset.isnull().sum()

Pregnant               0
Glucose                0
Diastolic_BP           0
Skin_Fold            227
Serum_Insulin        370
BMI                   11
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [31]:
#Method 3: Replacing null values with Median
Skin_Fold_median = dataset["Skin_Fold"].median()
dataset["Skin_Fold"] = dataset["Skin_Fold"].fillna(Skin_Fold_median)
dataset.isnull().sum()

Pregnant               0
Glucose                0
Diastolic_BP           0
Skin_Fold              0
Serum_Insulin        370
BMI                   11
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [32]:
#Method 4: Replacing null values with Mode
Serum_Insulin_mode = dataset["Serum_Insulin"].mode()[0]
dataset["Serum_Insulin"] = dataset["Serum_Insulin"].fillna(Serum_Insulin_mode)
dataset.isnull().sum()

Pregnant              0
Glucose               0
Diastolic_BP          0
Skin_Fold             0
Serum_Insulin         0
BMI                  11
Diabetes_Pedigree     0
Age                   0
Class                 0
dtype: int64

In [33]:
#Method 5: Replacing null values by interpolation
dataset["BMI"] = dataset["BMI"].interpolate()
dataset.isnull().sum()

Pregnant             0
Glucose              0
Diastolic_BP         0
Skin_Fold            0
Serum_Insulin        0
BMI                  0
Diabetes_Pedigree    0
Age                  0
Class                0
dtype: int64